contourpy==1.2.0
cvxpy-base==1.4.2
cycler==0.12.1
deepdiff==6.7.1
ecos==2.0.13
fonttools==4.49.0
jsonpointer==2.1
kiwisolver==1.4.5
matplotlib==3.8.3
networkx==3.2.1
numpy==1.26.4
ordered-set==4.1.0
pandapower==2.13.1
pandas==2.2.1
pillow==10.2.0
ply==3.11
pybind11==2.11.1
Pyomo==6.7.1
pyparsing==3.1.1
python-dateutil==2.8.2
pytz==2024.1
scipy==1.12.0
scs==3.2.4.post1
seaborn==0.13.2
six==1.16.0
tzdata==2024.1
glpk==0.4.7
jinja2
cython-npm==0.2.4
scikit-learn==1.4.2
kmodes==0.12.2